<ion-view view-title="Wellcome" name="wellcome-view">
  <ion-header-bar align-title="left" class="bar-stable">
    <button class="button button-icon icon ion-log-in">Allpolls</button>
  </ion-header-bar>

  <ion-content class="padding">
    <h3>Wellcome to allpolls. Please login and start polling.</h3>
    <button class="button button-block icon-left ion-ionic button-calm" ng-click="allpollsSignIn()">Allpolls</button>
    <button class="button button-block icon-left ion-social-facebook facebook-blue" ng-click="facebookSignIn()">Facebook</button>
    <button class="button button-block icon-left ion-social-googleplus googleplus-red" ng-click="googleSignIn()">Google+</button>
  </ion-content>
</ion-view>
