<ion-view view-title="Wellcome" name="wellcome-view" class="welcome-view">
  <ion-content class="padding" style="background: url(img/home.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon">
        </div>
        <h1 class="allpolls-home-h1">Allpolls Sign In</h1>
      </div>
    </div>

    <div class="padding" style="margin-top: 30em">
      <button class="button button-block icon-left ion-ionic button-calm" ng-click="allpollsSignIn()">Allpolls</button>
    </div>
    <div class="button-bar social-login">
      <button class="button button-small button-border icon-left ion-social-googleplus googleplus-red">Google+</button>
      &nbsp;&nbsp;
      <button class="button button-small button-border icon-left ion-social-facebook facebook-blue">Facebook</button>
    </div>
  </ion-content>

  <!--<ion-footer-bar align-title="left" class="bar-assertive">-->
    <!--<div class="buttons">-->
      <!--<button class="button">Left Button</button>-->
    <!--</div>-->
    <!--<h1 class="title">Title!</h1>-->
    <!--<div class="buttons" ng-click="doSomething()">-->
      <!--<button class="button">Right Button</button>-->
    <!--</div>-->
  <!--</ion-footer-bar>-->
</ion-view>
