<div class="card">
  <div class="item item-divider">
    <h2>
      <a href="#/main/polls/{{poll.id}}">
        {{ poll.title }}
      </a>
    </h2>
    <small>
      by
      <a>
        {{ poll.created_by }}
      </a>
    </small>
  </div>
  <!-- Poll Option #1 user has voted on poll -->
  <div class="item item-text-wrap" ng-click="updateVote(poll.id, poll.poll_options[0].id, poll.poll_options[0].voted)" ng-if="poll.current_user_vote !== null">
      <img ng-src="img/voted.ico" ng-show="poll.poll_options[0].voted === true">
      <img ng-src="img/no-vote.ico" ng-show="poll.poll_options[0].voted === false">
      {{ poll.poll_options[0].title }}
      <small>
        {{ poll.poll_options[0].user_answers_count }} votes
      </small>
  </div>
  <!-- Option #1 user not voted on poll -->
  <div class="item item-text-wrap" ng-click="updateVote(poll.id, poll.poll_options[0].id, poll.poll_options[0].voted)" ng-if="poll.current_user_vote === null">
      <img ng-src="imf/no-vote.ico">
      {{ poll.poll_options[0].title }}
      <small>
        vote to see results
      </small>
  </div>

  <!-- Poll Option #2  user has voted on poll-->
  <div class="item item-text-wrap" ng-click="updateVote(poll.id, poll.poll_options[1].id, poll.poll_options[1].voted)" ng-if="poll.current_user_vote !== null">
      <img ng-src="img/voted.ico" ng-show="poll.poll_options[1].voted === true">
      <img ng-src="img/no-vote.ico" ng-show="poll.poll_options[1].voted === false">
      {{ poll.poll_options[1].title }}
      <small>
        {{ poll.poll_options[1].user_answers_count }} votes
      </small>
  </div>
  <div class="item item-text-wrap" ng-click="updateVote(poll.id, poll.poll_options[1].id, poll.poll_options[1].voted)" ng-if="poll.current_user_vote === null">
    <img ng-src="img/no-vote.ico">
      {{ poll.poll_options[1].title }}
      <small>
        vote to see results
      </small>
  </div>
  <!-- footer -->
  <div class="item item-divider">
    <div class="row">
      <div class="col col-50 text-left">
        <h3>
          {{ poll.user_answers_count }} total votes
        </h3>
      </div>
      <div class="col col-50 text-right">
        <a class="button button-clear button-energized button-small">Share</a>
      </div>
    </div>
  </div>
</div>
